
@{
    ViewData["Title"] = "Index";
}

<center><h1 style="color:deeppink">Welcome to Hall Details</h1></center>
<br />

<form asp-action="Display">
    <label name="Budget">Enter the hall budget per day: </label>
    <input name="price" type = "text" />
    <input name="getHalls" type="submit" value="Get Halls" />
</form>


