
@{
    ViewData["Title"] = "Index";
}

<center><h1>WELCOME USER</h1></center>

<form action="/Message/DisplayName" method="post">
<p><b>ENTER YOUR NAME</b></p>
<input type = "text" id="Username" name="Username" placeholder="Enter your name" />
<input type = "submit" id="submit"></input>
</form>
